<!DOCTYPE html>

<html>
    <body>
        <script type="module" src="/create.js"></script>
        
        <h1>
            Create Server
        </h1>
        
        <div id="create">
        
        </div>

        <!-- partial client (above) and serverside (below) rendering??? -->

        <div>
            <p>
                Select a server?
                <button hx-get="/select" hx-target="body" hx-swap="innerHTML">Click here!</button>
            </p>
        </div>
    </body>
</html>
