<!DOCTYPE html>

<html>
    <body>

        <script type="module" src="/select.js"></script>

        <h1>
            Select A Server To Join
        </h1>
        
        <!-- component here -->
        <div id="select">
            
        </div>

        <div>
            <p>
                Host your own server?
                <br />
                <button hx-get="/create" hx-target="body" hx-swap="innerHTML">Start one here!</button>
            </p>
        </div>
    </body>
</html>
